<template>
  <svg
    height="100"
    width="100"
    viewBox="0 0 100 100"
    class="w-6 h-6"
    stroke="black"
  >
    <!-- FIXME: COLORS -->
    <circle r="50" cx="50" cy="50" fill="rgba(0, 0, 0, 0.2)" stroke-width="0" />
    <circle
      r="25"
      cx="50"
      cy="50"
      fill="transparent"
      stroke-width="50"
      :stroke-dasharray="`${(this.percentage * 2 * Math.PI * 25) / 100} ${
        2 * Math.PI * 25
      }`"
      transform="rotate(-90) translate(-100)"
    />
  </svg>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "ProgressDisc",
  props: {
    percentage: Number,
  },
});
</script>

<style></style>
