<template>
  <svg viewBox="0 0 110 110">
    <circle
      r="50"
      cx="55"
      cy="55"
      fill="transparent"
      stroke="#354755"
      stroke-width="4"
    />
    <circle
      r="50"
      cx="55"
      cy="55"
      fill="transparent"
      stroke="#437C90"
      stroke-width="4"
      :stroke-dasharray="`${50 * 2 * Math.PI}`"
      :stroke-dashoffset="`${
        50 * 2 * Math.PI - this.percentage * (50 * 2 * Math.PI)
      }`"
      class="transform -rotate-90 origin-center"
    />
    <circle
      r="2"
      :cx="Math.cos(-Math.PI / 2) * 50 + 55"
      :cy="Math.sin(-Math.PI / 2) * 50 + 55"
      fill="#437C90"
    />
    <circle
      r="2"
      :cx="cursorCoordinates.x"
      :cy="cursorCoordinates.y"
      fill="#437C90"
    />
  </svg>
  <!-- 
  <input type="range" v-model="percentage" step="0.1" />
  <div>{{ percentage }}</div>

  <div>cx {{ cursorCoordinates.x }}</div>
  <div>cy {{ cursorCoordinates.y }}</div> -->
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "ProgressCircle",
  props: {
    percentage: Number,
  },

  computed: {
    cursorCoordinates() {
      const angleDeg = 360 * this.percentage;
      const angleRad = (angleDeg * Math.PI) / 180 - Math.PI / 2;

      return {
        x: Math.cos(angleRad) * 50 + 55,
        y: Math.sin(angleRad) * 50 + 55,
      };
    },
  },
});
</script>

<style></style>
