<template>
  <!-- <p>x: {{ mouseCtx.x }}, y: {{ mouseCtx.y }}</p>
  <p>isDown: {{ mouseCtx.isDown ? "isDown" : "isUp" }}</p>
  <p>distance: {{ mouseCtx.distance }}</p> -->

  <div
    class="
      w-screen
      h-screen
      p-8
      bg-gunmetal
      text-white text-opacity-80
      flex flex-col
      items-center
      justify-center
    "
  >
    <div class="relative">
      <ProgressCircle class="mx-auto w-48 h-48" :percentage="mainProgress" />
      <div
        class="
          text-5xl
          absolute
          top-1/2
          left-1/2
          transform
          -translate-x-1/2 -translate-y-1/2
        "
      >
        <template v-if="isRunning">
          {{ timeLeft }}
        </template>
        <template v-else>
          {{ duration }}
        </template>
      </div>
    </div>

    <div class="mt-8">
      <template v-if="isRunning">
        <button
          type="button"
          class="block mx-auto"
          @click="
            () => {
              stopTimer();
            }
          "
        >
          <i class="uil uil-stop-circle text-4xl"></i>
          <div class="text-2xl">Stop</div>
        </button>
      </template>
      <template v-else>
        <button
          type="button"
          class="block mx-auto"
          @click="
            () => {
              runTimer();
            }
          "
        >
          <i class="uil uil-play-circle text-4xl"></i>
          <div class="text-2xl">Play</div>
        </button>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
// import { ipcRenderer } from "electron";
import { computed, defineComponent, ref } from "vue";
import ProgressCircle from "./components/ProgressCircle.vue";

export default defineComponent({
  name: "App",
  components: { ProgressCircle },
  data() {
    return {
      // rangeValue: "25",
      //     mouseCtx: {
      //       x: null,
      //       y: null,
      //       isDown: false,
      //       distance: 0,
      //     },
    };
  },
  // mounted() {
  // ipcRenderer.on("MOUSE_CTX", (_, mouseCtx) => {
  //   console.log(mouseCtx);
  //   this.mouseCtx = mouseCtx;
  // });
  // },

  setup() {
    // onMounted(() => {
    //   ipcRenderer.on("MOUSE_CTX", (_, mouseCtx) => {
    //     console.log(mouseCtx);
    //     this.mouseCtx = mouseCtx;
    //   });
    // });

    const startTimerDate = ref<number | undefined>(undefined);
    const endTimerDate = ref<number | undefined>(undefined);

    const timerInterval = ref<number | undefined>(undefined);
    const timeLeft = ref<number | undefined>(undefined);

    const duration = 1 * 60 * 1000;

    const mainProgress = computed(() => {
      if (!endTimerDate.value || !startTimerDate.value || !timeLeft.value)
        return 0;

      const totalTime = endTimerDate.value - startTimerDate.value;
      const elapsedTime = totalTime - timeLeft.value;

      return elapsedTime / totalTime;
    });

    const runTimer = () => {
      startTimerDate.value = Date.now();
      endTimerDate.value = startTimerDate.value + duration;

      timeLeft.value = endTimerDate.value - Date.now();
      timerInterval.value = setInterval(() => {
        if (endTimerDate.value) {
          timeLeft.value = endTimerDate.value - Date.now();
        }

        if (!endTimerDate.value || endTimerDate.value - Date.now() <= 0) {
          stopTimer();
        }
      }, 1000) as unknown as number;
    };

    const stopTimer = () => {
      clearInterval(timerInterval.value);

      startTimerDate.value = undefined;
      timerInterval.value = undefined;
    };

    const isRunning = computed(() => startTimerDate.value !== undefined);

    return { isRunning, runTimer, stopTimer, timeLeft, duration, mainProgress };
  },
});
</script>

<style></style>
